

body {
    margin: 0;
    color: white;
}

.scoreboard {
    width: 575px;
    height: 385px;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 325px;
    background: #1B244A;
}

.scoresets {
    height: 270px;
    width: 200px;
}

h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 21px;
}

.score-ctn {
    background: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin: 10px auto;
   
}

.points {
    font-family: 'cursed-timer-ulil-regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    text-align: center;
    margin: 0 auto;
    display:  block;
}

.score-mod {
    margin: 0 auto;
    width: 155px;
    height: 30px;
    margin-top: 26px;
    display: flex;
}

.btn-mod {
    margin: 0 auto;
    background: #1B244A;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    font-size: 18px;
}

.reset-container{
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

.reset-btn{
    display: block;
    margin: 0 auto;
    background: #1B244A;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    font-size: 18px;
}