*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a , li {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
:root {
    /* Colors */
    --darkcream: #F6D7A7;
    --cream: #F6EABE;
    --turq: #C8E3D4;
    --forestgreen: #87AAAA;
    /* Fonts */
    --League: 'League Spartan';
    --Libre: 'Libre Baskerville';
}

html {
    background-color: var(--forestgreen);
}

html *:hover {
    border: 1px inset black;
}

.nav-container {
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cream);
    box-shadow: 1px 1px 5px black;
}

.nav-title {
    font-family: var(--League);
    font-size: 2rem;
    margin-left: 3vw;
}

.nav-menu {
    font-family: var(--League);
    display: flex;
    column-gap: 1vw;
    margin-left: auto;
    padding-right: 3vw;
    font-size: 1.25rem;
}

@media only screen and (min-width: 720px) {
    .nav-menu {
        font-size: 2rem;
    }
    .nav-title {
        font-size: 3.5rem;
    }
}

.home {
    height: 100vh;
}

.title {
    font-family: var(--League);
    font-size: 7rem;
    text-align: center;
    margin-top: 35vh;
}

.subtitle {
    font-size: 2rem;
    font-family: var(--Libre);
    text-align: center;
}

.project.title {
    font-family: var(--League);
    text-align: center;
}

.project-container {
    height: 100vh;
    margin-top: 2vh;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.project-img {
    height: 350px;
}

